.contact-div {
  min-height: 90vh;
  width: 100vw;
  background: rgb(70,117,67);
  background: linear-gradient(0deg, rgba(70,117,67,1) 0%, rgba(48,255,106,1) 100%, rgba(0,212,255,1) 100%);
}

.freelance-header {
  background-color: aquamarine;
  width: 50%;
  margin: auto;
  box-shadow: 2px 2px 5px black;
}