.home-div {
  background-color: rgb(182, 182, 0);
  background-image: url(../assets/pattern.png);
  margin-top: var(--navbar-height);
  display: flex;
  flex-direction: column;
}

.home-div h1 {
  padding-left: 10px;
  padding-right: 10px;
}

.header-div {
  height: fit-content;
  border-left: 5px solid rgb(16, 0, 43);
  overflow-x: hidden;
  margin: 0 0 10px 50px;
  white-space: nowrap;
  max-width: fit-content;
}

.header-div:hover {
  transition: background-color 1s ease-in-out;
  background-color: rgb(187, 223, 190);
  transition-timing-function: cubic-bezier(0.1, 0.7);
}

.typing{
  animation: typing-rect 0.6s infinite;
  animation-delay: 1.6s;
}

@keyframes typing-rect {
  0% {border-right: 3px solid white;}
  50% {border-right: 3px solid white;}
  510% {border-right: 3px solid transparent;}
  100% {border-right: 3px solid transparent;}
}

.cascade-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.left-cascade-div, .right-cascade-div{
  border: 2px solid rgb(124, 0, 0);
  padding: 10px;
  width: fit-content;
  margin-left: 10px;
  box-shadow: 2px 2px 5px rgb(58, 0, 0);
  background-color: rgb(255, 230, 0);
}

.right-cascade-div {
  background-color: rgb(0, 41, 25);
  color: aquamarine;
}

.right-cascade-div .header-div:hover {
  transition: background-color 1s ease-in-out;
  background-color: rgb(63, 117, 0);
  transition-timing-function: cubic-bezier(0.1, 0.7);
}

.float-div {
  position: absolute;
  height: 30px;
  width: 70px;
  background-color: aliceblue;
  right: 100px;
  z-index: 1;
  border-radius: 50% ;
  box-shadow: 0 5px 10px gray;
  animation: float 3s ease-in-out infinite;
  display: inline-block;
}

.float-div a {
  text-decoration: none;
}

.float-div span{
  color: green;
  font-size: 1.2rem;
  margin-left: 15px;
}

@keyframes float {
  0% {transform: translateY(0);}
  50% {transform: translateY(10px);}
  100% {transform: translateY(0);}
}

.drawer-container {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  margin: auto;
  width: fit-content;
  height: 50rem;
}

.drawer-div {
  margin: 4rem;
  height: 20rem;
  width: 10rem;
  background-color: rgb(138, 5, 5);
  margin-bottom: 4rem;
  border: 8px inset rgb(122, 3, 3);
}
