.hobbies-div {
  background-color: aqua;
}

.hobbies-div a {
  text-decoration: none;
  color: rgb(56, 102, 55);
}

.language-wrapper {
  display: flex;
  justify-content: center;
}

.language-wrapper li {
  list-style-type: none;
  float: left;
  padding: 0 10px 2px 10px;
  margin: 4px 4px 10px 14px;
  background-color: rgb(110, 189, 253);
  border-bottom: 2px solid darkblue;
  border-radius: 5px;
}

.language-wrapper h3 {
  padding: 0 8px 2px 8px;
  margin: 4px 4px 10px 4px;
  background-color: rgb(110, 253, 193);
  border-bottom: 2px solid darkgreen;
  border-radius: 5px;
}

.language-div, .chess-div, .procreate-div, .gym-div, .tarot-div, .youtube-div {
  min-height: 80vh;
}

.language-item {
  border-radius: 20px;
  margin: 5px 20px 5px 20px;
  background-color: bisque;
  height: fit-content;
  width: 300px;
  border-bottom: 2px solid darkblue;
  box-shadow: 2px 2px 1px gray;
}

.youtube-div {
  padding-top: var(--navbar-height);
}

.youtube-link {
  background-color: red;
  width: 320px;
  height: 80px;
  border-radius: 20px;
  margin: auto;
  border: 5px solid transparent;
  box-shadow: 3px 3px 10px gray;
}

.youtube-link:hover {
  border: 5px solid rgb(175, 0, 0);
  background-color: rgb(252, 77, 77);
}

.youtube-frame {
  box-shadow: 4px 4px 5px black;
}

.youtube-link:active {
  background-color: rgb(219, 0, 0);
}

.chess-div a:link {
  display: inline-block;
}

.chess-profile {
  width: 320px;
  height: 80px;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d7/Chessboard480.svg");
  border: 5px solid rgb(115, 117, 0);
  box-shadow: 4px 4px 0 rgb(73, 75, 0);
  background-size: contain;
  margin: auto;
  text-shadow: 3px 3px 3px rgb(217, 185, 253);
}

.chess-profile:hover {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d5/Chess_Board.svg");
  border: 5px solid rgb(255, 255, 255);
  box-shadow: 4px 4px 0 rgb(130, 134, 134);
}

.opening-div {
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  list-style-type: none;
  width: 20%;
  margin: auto;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/d7/Chessboard480.svg");
  background-size: contain;
  text-shadow: 2px 2px 0px gray;
  border: 5px solid rgb(95, 89, 0);
  box-shadow: 4px 4px 0 rgb(56, 52, 0);
}

.gym-squat {
  position: absolute;
  margin: auto;
  right: 0;
  padding: 0 30px 0 0;
  height: fit-content;
  width: 100px;
  background-color: transparent;
}

.squat-img {
  height: 100px;
  width: 100px;
  background-image: url("../assets/squatReady.png");
  background-color: aliceblue;
}

.squat-img:active {
  animation: squat 0.5s linear;
}

@keyframes squat {
  0% {background-image: url("../assets/squatReady.png")}
  25% {background-image: url("../assets/squatMid.png")}
  50% {background-image: url("../assets/squatDone.png")}
  75% {background-image: url("../assets/squatMid.png")}
  100% {background-image: url("../assets/squatReady.png")}
}